<%- include("header") -%>

<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark fixed-top ">
    <div class="container">
        <h1 class="heading">To-Do List</h1>
        <h1 class="heading">Score: <%= score %></h1>
    </div>
</nav>

<!-- Main page -->
<div class="container">

    <div class="todo-task">
        <form class="item" action="/" method="post">
            <input type="text" placeholder="Enter your task here" name="newItem" autocomplete="off" required autofocus>
            <button class="add" type="submit" name="list" >Add</button>
            <button class="priority high" type="submit" name="high" ></button>
            <button class="priority med" type="submit" name="med" ></button>
            <button class="priority low" type="submit" name="low" ></button>
        </form>
    </div>

    <div class="todo-list">
        <% newItems.forEach(function(item){ %>
            <form action="/delete" method="POST">
                <div class="todo-item">
                    <div class="todo-item-header">
                        <input type="checkbox">
                        <div class="todo-item-title"><%= item.name %></div>
                    </div>
                    <div class="todo-item-buttons">
                        <span class="edit-button"><i class="fas fa-edit"></i></span>
                        <button class="delete-button" type="submit" name="close" value=<%= item._id %>><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </form>
        <% }); %> 
    </div>
    <hr>

    <div class="todo-info">
        <input class="todo-info-check" type="checkbox"> Check All
        <p class="todo-info-item">Items left: <%= itemsleft %></p>
    </div>
    <hr>

    <div class="todo-menu">
        <button class="btn btn-primary active">All</button>
        <button class="btn btn-primary" disabled>Active</button>
        <button class="btn btn-primary" disabled>Completed</button>        
    </div>

</div>

<%- include("footer") -%>